.btn {
  width: 18rem;
  height: 6rem;
  font-size: 1.8rem;
  background-color: $color-secondary;
  color: #fff;
  border-radius: 4.5rem;
  font-weight: 500;
  display: flex;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  box-shadow: $drop-shadow-big;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: none;
  letter-spacing: 1px;
}

.custom-btn:hover {
  background-color: $color-primary;
  transform: translateY(-7px);
}
