@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-mini {
    @media only screen and (max-width: 48em) {
      @content;
    } //768px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-1024 {
    @media only screen and (max-width: 64em) {
      @content;
    } //1024px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800px
  }
}

@mixin icon {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  fill: var(--color-grey-dark-1);

  &:hover {
    fill: var(--color-primary);
  }
}

@mixin header-primary {
  font-size: 4.8rem;
  letter-spacing: 2px;
  line-height: 1;
  color: $color-secondary;
  font-family: $font-family-secondary;
  font-weight: 700;
}

@mixin header-medium {
  font-size: 3.2rem;
  color: $color-grey-dark;
  letter-spacing: 0.5px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
  font-family: $font-family-secondary;
}

@mixin paragraph {
  font-size: 1.6rem;
  color: $color-grey;

  font-weight: 400;
  margin-bottom: 2rem;
}
