header {
  position: absolute;
  z-index: 3;
  top: 5rem;
  font-family: $font-family-secondary;

  @include respond(tab-land) {
    position: relative;
  }

  & h2 {
    @include header-secondary;
    @include respond(tab-land) {
      margin-top: 5rem;
    }

    @include respond(phone) {
      margin-top: 1rem;
      font-size: 2.4rem;
    }
  }
}
