$color-primary: #ffd454;
$color-secondary: #00a08f;
$color-secondary-dark: #124653;
$color-grey-dark: #2e2d2d;
$color-grey: #8e8e93;
$color-grey-light: #e5e5e5;

$font-family-secondary: "Merriweather", serif;
$drop-shadow-big: 0px 4px 8px rgba(0, 0, 0, 0.1);
$drop-shadow-small: 0px 3px 6px rgba(0, 0, 0, 0.1);
