@import "variables";
@import "mixins";
@import "base";
@import "components";
@import "typography.scss";

@import "../pages/CreatePage/CreatePageStyles.scss";
@import "../pages/Home/HomeStyles.scss";
@import "../pages/SplashPage/SplashPageStyles.scss";
@import "../components/textArea/TextAreaFormStyles.scss";
@import "../components/PhrasesList/PhrasesListStyles.scss";
@import "../App.css";
