.sign-up {
  width: 100%;
  margin-top: 15rem;
  & > h1 {
    @include header-primary;
    text-align: center;
  }

  & h2 {
    color: #2e2d2d;
    font-size: 3.2rem;
    color: #2e2d2d;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 400 !important;
    width: 100% !important;
    font-family: "Poppins", sans-serif;
  }

  .navigate-link {
    &:hover {
      color: #3a3a3a;
      cursor: pointer;
    }
  }

  .sign-in-details {
    width: 100%;
  }

  .text-details {
    font-size: 1.6rem;
  }
  .sign-btn {
    width: 100% !important;
  }

  .header-tertiary {
    font-size: 1.4rem;
    color: #3a3a3a;
    margin-top: 1.5rem;
    letter-spacing: 0.6px;
  }
  .sign-in-option {
    margin: 2rem 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .account-link {
    text-decoration: underline;
    cursor: pointer;
    color: #3a3a3a;

    &:hover {
      text-decoration: none;
    }
  }
}
