.splash-page {
  display: flex;
  justify-content: center;
  align-items: center;

  & .header-primary {
    @include header-primary;
    margin-top: 3.2rem;
  }

  &__img {
    width: 40%;
    margin-top: 5rem;
  }
  &__main-wrapper {
    margin-top: 5rem;
    width: 40%;
  }

  .header-medium {
    @include header-medium;
    margin-top: 5rem;
  }

  .paragraph {
    @include paragraph;
  }

  &__btn {
    @include respond(tab-land) {
      position: absolute;
      bottom: 3rem;
      right: 3rem;
    }
  }
}
