.home-page {
  header {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-family: $font-family-secondary;

    & h2 {
      @include header-secondary;
    }
  }

  .__main-section {
    position: relative;
  }
  & &__search-icon {
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  &__calendar {
    fill: $color-secondary;
    height: 4rem;
    width: 4rem;
    box-shadow: $drop-shadow-small;
  }

  &__img {
    margin: 2rem 0;
    width: 90%;
  }

  &__date {
    font-size: 1.8rem;
    color: $color-grey;
  }
  &__btn {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
  }
}

.search-section {
  margin-top: 4rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#searchInput {
  background-color: $color-grey-light;
  outline: none;
  border: none;
  width: 35rem;
  height: 5rem;
  border-radius: 2rem;
  font-size: 2rem;
}

.header-medium {
  @include header-medium;
  font-weight: 700;
  width: 80%;
}

.gratitude-text {
  font-size: 2rem;
  background-color: $color-primary;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.home-page__triple-dots {
  width: 4rem;
  fill: $color-secondary;
  height: 4rem;
}

.logout-wrapper {
  cursor: pointer;
}
